
{% extends 'base.html'%}
{% load static %}
{% load bootstrap4 %}
{% block content%}

<div class="hero-wrap js-fullheight" style="background-image: url({% static 'images/bg_2.jpg' %});">
      <div class="overlay"></div>
      <div class="container">
        <div class="row no-gutters slider-text js-fullheight align-items-center justify-content-center" data-scrollax-parent="true">
          <div class="col-md-9 text-center ftco-animate" data-scrollax=" properties: { translateY: '70%' }">
            <p class="breadcrumbs" data-scrollax="properties: { translateY: '30%', opacity: 1.6 }"><span class="mr-2"><a href="index.html">Home</a></span> <span>Login</span></p>
            <h1 class="mb-3 bread" data-scrollax="properties: { translateY: '30%', opacity: 1.6 }">Login </h1>
          </div>
        </div>
      </div>
</div>

<div class="row">
    <div class="col-md-4 mx-auto mt-5 mb-5">
      {% if messages %}
        <ul class="messages">
      {% for message in messages %}
        <li class="{{ message.tags }}">{{ message }}</li>
      {% endfor %}
        </ul>
      {% endif %}
      <h3> Login Now</h3>

    <form  method="POST" enctype="multipart/form-data">
        {% csrf_token %}
        {% bootstrap_form login_form %}
        {% buttons %}
            <button type="submit" class="btn btn-primary py-3">Login</button>
        {% endbuttons %}
    </form>
    <p>Forgot Password?<a href="{% url 'accounts:password_reset' %}">Reset Password</a></p>
    <p >Don't have a account? <a href="{% url 'accounts:signup'%}">Join Now</a></p>



    
    </div>
</div>

{% endblock content%}