{% extends 'base.html'%}
{% load static %}
{% load bootstrap4 %}
{% block content%}


  
    <div class="hero-wrap js-fullheight" style="background-image: url({% static 'images/bg_5.jpg' %});">
      <div class="overlay"></div>
      <div class="container">
        <div class="row no-gutters slider-text js-fullheight align-items-center justify-content-center" data-scrollax-parent="true">
          <div class="col-md-9 ftco-animate text-center" data-scrollax=" properties: { translateY: '70%' }">
            <p class="breadcrumbs" data-scrollax="properties: { translateY: '30%', opacity: 1.6 }"><span class="mr-2"><a href="index.html">Home</a></span> <span class="mr-2"><a href="hotel.html">Hotel</a></span> <span>Hotel Single</span></p>
            <h1 class="mb-3 bread" data-scrollax="properties: { translateY: '30%', opacity: 1.6 }">Hotels Details</h1>
          </div>
        </div>
      </div>
    </div>


    <section class="ftco-section ftco-degree-bg">
      <div class="container">
        <div class="row">
        	
          <div class="col-lg-9 container">
          	<div class="row ">
          		<div class="col-md-12 ftco-animate">
          			<div class="single-slider owl-carousel">
					{% for property in object.property_image.all%}
          				<div class="item">
          					<div class="hotel-img" style="background-image: url({{property.image.url}});"></div>
          				</div>
          			{% endfor%}
          				</div>
          			</div>
          		</div>
          		<div class="col-md-12 hotel-single mt-4 mb-5 ftco-animate">
          			<span>Our Best hotels &amp; Rooms</span>
          			<h2>{{object}}</h2>
          			<p class="rate mb-5">
          				<div class="item">
          					<div class="hotel-img" style="background-image: url({{property.main_image.url}});"></div>
          				</div>

          				<span class="loc"><a href="#"><i class="icon-map"></i> {{object.place}}</a></span>
          				<span class="star">
    							<i class="icon-star"></i>
    							<i class="icon-star"></i>
    							<i class="icon-star"></i>
    							<i class="icon-star"></i>
    							<i class="icon-star-o"></i>
    							{{object.count_of_reviews}} Rating</span>
								
    						</p>
    						<p>{{object.description}}</p>
    						</div>
          		
          		
          		
				
				
				{% if object.check_availability == 'available' %}
					<h4 class="mb-5">The Room Is available Today</h4>
				{% else %}
					<h4 class="mb-5">The Room Is Being Booked The Reservation {{object.check_availability}}</h4>

				{% endif%}
          		<div class="col-md-12 hotel-single ftco-animate mb-5 mt-4">
          			<h4 class="mb-5">Check Availability &amp; Booking</h4>
          			<div class="fields">
          				<form  class="form" method='POST'>
							{% csrf_token %}							
							{% bootstrap_form form %}
							{% buttons %}
								<button type="submit" class="btn btn-primary">Book</button>
							{% endbuttons %}
						</form>
		            </div>
          		</div>
          		<div class="col-md-12 hotel-single ftco-animate mb-5 mt-5">
          			<h4 class="mb-4">Related Hotels</h4>
          			<div class="row">
						{% for property in related_properties%}
							
          						<div class="col-md-4">
				    				<div class="destination">
				    					<a href="{{property.get_absolute_url}}" class="img img-2" style="background-image: url({{property.main_image.url}});"></a>
				    					<div class="text p-3">
				    						<div class="d-flex">
				    							<div class="one">
						    						<h3><a href="{{property.get_absolute_url}}">{{property}}</a></h3>
						    						<p class="rate">
						    							<i class="icon-star"></i>
						    							<i class="icon-star"></i>
						    							<i class="icon-star"></i>
						    							<i class="icon-star"></i>
						    							<i class="icon-star-o"></i>
						    							<span>8 Rating</span>
						    						</p>
					    						</div>
					    						<div class="two">
					    							<span class="price per-price">${{property.price}}<br><small>/night</small></span>
				    							</div>
				    						</div>
				    						<p>{{property.description}}</p>
				    						<hr>
				    						<p class="bottom-area d-flex">
				    							<span><i class="icon-map-o"></i> {{property.place}}</span> 
				    							<span class="ml-auto"><a href="{{property.get_absolute_url}}">Book Now</a></span>
				    						</p>
				    					</div>
				    				</div>
				    			</div>
				    	{% endfor%}
          			</div>
          		</div>

          	</div>
          </div> <!-- .col-md-8 -->
        </div>
      </div>
    </section> <!-- .section -->



{% endblock content%}